.results-table {
  width: 80%; /* Adjust the width as needed */
  margin: 50px auto; /* Center the table and provide top and bottom margin */
  border-collapse: collapse;
  border-radius: 5px; /* Set the border-radius for rounded edges */
  overflow: hidden; /* Ensure rounded corners are applied */
  background-color: #ddd;
}

.results-table th, .results-table td {
  border: 1px solid #646464;
  padding: 8px;
  text-align: left;
}

.results-table th {
  background-color: #646464;
  font-weight: bold;
}

.results-table tbody tr:hover {
  background-color: #f5f5f5;
}

/* Optional: Add some spacing around the input and icon */
.input-wrapper {
  margin-bottom: 20px;
}

#search-icon {
  margin-right: 10px;
}
