.App {
  background-color: #1b1b1b;
  width: 100vw;
  height: 200vh;
  text-align: center;
}

.title {
  color: azure;
  text-shadow: 0px 0px 8px #918787;
  padding-top: 2rem;
  font-size: 100pt;
}

.search-bar-mini {
  width: 13%;
  display: flex;
  margin: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  min-width: 100px;
}

.search-bar {
  padding-top: 2vh;
  width: 80%;
  margin: auto;
  flex-direction: row;
  align-items: center;
  min-width: 100px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


